.aboutBodyBg {
  background-image: url("../assets/bgtexture.jpg");
}

.abtCont{
  padding: 0;
 width: 90vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.navLink {
  text-decoration: none;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}

.primeNav{
  list-style: none; 
   gap: 3em;
}

.abtHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.aboutMainImg{
  width: 520px;
  margin-right: 2rem;
  
}

.bg1{
  background-color: white;
  margin-left: 13rem;
  max-width: 58.4%;
}

.aboutMainTxt{
  font-size: 12px;
  
}

.aboutMainR{
 flex-wrap: nowrap;
}


.Grill{
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  margin-top: 2rem;
}



.ourTeamTxt{
  font-size: 30px;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ourTeamBg{
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

.ourTeamR{
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0
}

.dox1{
  justify-content: start;
  display: flex;
}

.dox3{
  
  display: flex;
  padding-right: 0;


}

.jack1{
  justify-content: center;
  display: flex;
  padding: 0;
}

.card{
  border-radius: 0;
  justify-content: center;
  display: flex;
}

.card-img-top{
  border-radius: 0;
  min-height: 400px;
  max-height: 400px;
}

.cardRow1{
  margin-top: 2rem;
  margin-right: 0;
  justify-content: center;
  display: flex;
}

.cardTitle{
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  font-size: 30px;
}


.footerLogo{
  justify-content: end;
  display: flex;
  padding: 0;
}

.footerImg{
  justify-content: end;
  display: flex;
 min-width: 7rem;
 max-width: 7rem;
}

.footerRow1{
  margin-top: 3rem;
}

.copyRightCol{
  justify-content: end;
  display: flex;
}

.addressTxt{
  color: #5F002B;
}

.phoneNumTxt{
  color: #5F002B;
}

.copyRightTxt{
  color: #5F002B;
}


/* Media Query */

@media (max-width: 425px) {
  .ourTeamR{
    justify-content: center;
    display: flex;
    margin-left: 50%;
   width: 50%;
  }
}
@media (max-width: 768px) {
  .ourTeamR{
    justify-content: center;
    display: flex;
   margin-left: 0%;
   width: 100%;
  }
}

@media (min-width: 425px) {
  .abtCont{
   width: 130vw;
   margin-left: 12%;
   padding: 0;
  }
}
@media (min-width: 768px) {
  .abtCont{
   width: 100vw;
   padding: 0;
   margin-left: 2%;
   
  }
}


@media (max-width: 768px) {
  
}