.aboutBodyBg {
  background-image: url("../assets/bgtexture.jpg");
}

.navLogo {
  margin: 2rem;
}
.navLink {
  text-decoration: none;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}

.primeNav{
  list-style: none; 
   gap: 3em;
}

.abtHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


.aboutMainImg{
  width: 500px;
  margin-right: 1rem;
  
}

.bg1{
  background-color: white;
  margin-left: 5rem;
  max-width: 50rem;
}

.aboutMainTxt{
  font-size: 12px;
  
}

.aboutMainR{
  justify-content: center;
  display: flex;
 
}


.Grill{
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}


.ourTeamTxt{
  font-size: 30px;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ourTeamBg{
  background-color: white;
  margin-top: 3rem;
  justify-content: center;
  display: flex;
}

.ourTeamR{
  justify-content: center;
  display: flex;
  padding-right: 0;
}

.dox1{
  justify-content: start;
  display: flex;
  
}

.dox3{
  justify-content: end;
  display: flex;
  padding-right: 0;


}

.jack1{
  justify-content: center;
  display: flex;
  padding: 0;
}

.card{
  border-radius: 0;
}

.card-img-top{
  border-radius: 0;
  height: 400px;
}

.cardRow1{
  margin-top: 2rem;
}
