.aboutBodyBg {
  background-image: url("../assets/bgtexture.jpg");
}
.navLogo {
  margin: 2rem;
}
.navLink {
  text-decoration: none;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}

.primeNav{
  list-style: none; 
   gap: 3em;
}

.abtHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.aboutMainImg{
  width: 500px;
}

.bg1{
  background-color: white;
  margin-left: 5rem;
  width: 50rem;
}

.aboutMainTxt{
  font-size: 13px;
  
}

.Grill{
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}


.ourTeamTxt{
  font-size: 30px;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ourTeamBg{
  background-color: white;
  margin-top: 3rem;
  justify-content: center;
  display: flex;
}

.ourTeamR{
  justify-content: center;
  display: flex;
  margin-left: 1px;
}


.col-4{
  justify-content: center;
  display: flex;
}