.aboutBodyBg {
  background-image: url("../assets/bgtexture.jpg");
}

.abtCont{
  width: 150vw;
 padding: 0;
}

.navLink {
  text-decoration: none;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}

.primeNav{
  list-style: none; 
   gap: 3em;
}

.abtHeader {
  align-items: center;
.backgroundimg{
    background-image: url("/assets/bgtexture.jpg");
    }
    body, html {
        height: 100%;
    }
    
    
    .hero-image {
    
      background-image: url("../assets/homeHero.jpg");
    
    
      height: 50%;
    
    
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    /* ----------nav---------- */
.nav-link{
    color: #5F002B;
}
.nav{
    justify-content: end;
    margin-top: 1rem;
  
}
.navlogo{
    padding-left: 3rem;
}
/* ------------------ */
.pic3{
    margin-right: 20rem;
}
.row {
    display: flex;
  }
  
  
  .column {
    flex: 50%;
    padding: 10px;
    height: 300px; 
   
  }
  .column2{
    flex: 50%;
    padding: 10px;
    height: 300px; 
  
  }
  .textbackG{
   
    color: #5F002B;
  }
  .himeimage{
    width: 40rem ;
   margin-top: 3rem;
  }
  .text-block {
    position: absolute;
    
    background-color: rgb(255, 255, 255);
    
 
  }
  .comn{
background-color: aliceblue;
margin-top: 1rem;
width: 30rem ;
  }
  /* --------- */
  .column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin-top: 10rem;
    color: #5F002B;
    font-size: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column2 {
    float: left;
    width: 20px;
    padding: 10px;
    height: 30px; /* Should be removed. Only for demonstration */
    margin-top: 10rem;
   color: #5F002B;
   font-size: 10px;
   
  }
.navtext {
  margin-top: 20px;
  color: #5F002B;
  font-size: 20px;
  align-items: center;
  
}

.nav-space {
  gap: 7rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD

.aboutMainImg{
  width: 520px;
  margin-right: 2rem;
  
}

.bg1{
  background-color: white;
  margin-left: 13rem;
  width: 58.4%;
}

.aboutMainTxt{
  font-size: 12px;
  
}

.aboutMainR{
 flex-wrap: nowrap;
}


.Grill{
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  margin-top: 2rem;
}



.ourTeamTxt{
  font-size: 30px;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ourTeamBg{
  background-color: white;
  margin-top: 3rem;
  text-align: center;
}

.ourTeamR{
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 0
}

.dox1{
  justify-content: start;
  display: flex;
}

.dox3{
  
  display: flex;
  padding-right: 0;


}

.jack1{
  justify-content: center;
  display: flex;
  padding: 0;
}

.card{
  border-radius: 0;
  justify-content: center;
  display: flex;
}

.dogI{
  border-radius: 0;
  min-height: 400px;
  max-height: 400px;
}

.cardRow1{
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  margin-right: 2px;
}

.cardTitle{
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
  font-size: 30px;
}


.footerLogo{
  justify-content: end;
  display: flex;
  padding: 0;
}

.footerImg{
  justify-content: end;
  display: flex;
 min-width: 7rem;
 max-width: 7rem;
}

.footerRow1{
  margin-top: 3rem;
}

.copyRightCol{
  justify-content: end;
  display: flex;
}

.addressTxt{
  color: #5F002B;
}

.phoneNumTxt{
  color: #5F002B;
}

.copyRightTxt{
  color: #5F002B;
}


/* Media Query */

@media (min-width: 425px) {
  .abtCont{
   width: 120vw;
  }
  .dCard{
   width: 30rem;
   margin-left: 2rem;
  }
  .ourTeamR{
   width: 33rem;
  }
}
@media (max-width: 768px) {
  .aboutMainR{
   margin-right:5rem;
  }
}


=======
.bgimg {
  background-image: url(../assets/bgtexture.jpg);
}

.menubar {
  background-color: white;
  max-width: 1640px;


  display: flex;
  justify-content: center;
}

.menu-cards{
  margin-top: 20px;
 gap: 1rem;
}

hr.cardline {
  border-top-color: #980051;
  opacity: 100%;
}

.card-title {
  font-size: 30px;
  color: #5F002B;
}

.card-title-2 {
  font-size: 20px;
  color: #5F002B;
}

.row {
  --bs-gutter-x: 0;
}
>>>>>>> origin/Test
