.aboutBodyBg {
  background-image: url("../assets/bgtexture.jpg");
}
.navLogo {
  margin: 2rem;
}
.navLink {
  text-decoration: none;
  color: #5F002B;
  font-family: 'Fugaz One', cursive;
}

.primeNav{
    list-style: none; 
   gap: 3em;
}

.abtHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
